button {
    border: 1px solid black;
    color: black;
    width:10%;
    height: 50%;
    padding: 50px;
    border-radius: 40px;
}

button:hover{
    background-color: dimgray;
    color: white;
    border:inherit;
}

body{
    background-color: greenyellow;
    margin: 100px;
    padding:100px;
}

h1{
    color: blue;
}